@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@462&family=Lobster&family=Patua+One&family=Rubik&family=Sniglet&display=swap');

:root {
  --Sniglet-font: 'Sniglet', cursive;
  --Rubik: 'Rubik', cursive;
  --Patua: 'Patua One', cursive;
  --Lobster: 'Lobster', cursive;
  --Dancing: 'Dancing', cursive;
  --light-black: #3b3838af;
  --light-gray: rgba(255, 255, 255, 0.9);
  --light-font: #bff5f4;
  --dark-font: #904e95;
  --bggradient: linear-gradient(
    to bottom,
    #8529a1ce, 
    #b299e07e
    );

  --bggradient2: linear-gradient(
    to bottom left, 
    #ef32d9,
    #89fffd
  );

  --bggradient2-reverse: linear-gradient(
    to top left, 
    #ef32d9,
    rgb(82, 224, 222)

  );

}

* {
  box-sizing: border-box;
}

main{
  background: var(--bggradient2);
}

hr{
  font-weight: bolder;
  width: 100%;
  color: aquamarine;
  text-decoration: none;
}

header,
section {
  overflow: hidden;
}

/* HEADER */

header a {
  font-size: 0.9em;
}

header {
  font-family: var(--Dancing);
  color: var(--light-font);
  background: var(--bggradient2);
}

/* NAVIGATION */

header .nav-item:last-child {
  padding-right: 3rem;
}

header .nav-item {
  padding: 0rem 1.5rem;
}

header .nav-brand {
  padding-left: 1.5rem;
}

header .nav-link:hover {
  color: aliceblue;
}

header .row .col-md-5 {
  padding: 4.2vmin 1vmin;
}

header .row .col-md-5 img {
  width: 200%;
  height: 200%;
}

header .container-fluid .col-md-7 h6 {
  padding: 1vmin;
  letter-spacing: 4px;
}

header .container-fluid .col-md-7 h1 {
  font-size: 8vmin;
  font-weight: bold;
  padding: 0.1em 0em;
}

header .container .col-md-7 p {
  padding: 1vmin 5vmin;
}

header .container-fluid .col-md-7 button {
  border-radius: 30px;
  font-weight: bold;
}

.button .new{
  align-content: center;
  margin-left: 10vmin;
}

header .row .col-md-7 {
  padding: 22vmin 1vmin;
  padding-bottom: 15vmin;
  font-family: var(--Rubik);
  color: var(--dark-font);
}

/* SECTION */

/* SECTION-1 */

.section-1 {
  padding: 10vmin 10vmin;
  font-family: var(--Dancing);
  font-size: 20px;
  color: var(--dark-font);
}

.section-1 .row .col-md-6 .pray img {
  opacity: 0.8;
  width: 100%;
  border-radius: 0.2em;
}

.section-1 .row .col-md-6:last-child {
  position: relative;
}

.section-1 .row .col-md-6 .panel {
  position: absolute;
  top: 7vmin;
  left: -18vmin;
  background: white;
  border-radius: 3px;
  text-align: left;
  padding: 13vmin 5vmin 20vmin 10vmin;
  box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
  font-family: var(--Rubik);
  z-index: 1;
}

.section-1 .row .col-md-6 .panel h1 {
  font-weight: bold;
  padding: 0.4em 0;
  font-size: 2em;
}

.section-1 .row .col-md-6 .panel p {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.5);
}

img{
  box-shadow: var(--light-gray);
}

/* SECTION-2 */

/* MOST POPULAR SERVICES */

.section-2{
  width: 100%;
  padding: 10vmin 0vmin;
  font-family: var(--Dancing);
  color: var(--light-font);
  background: var(--bggradient2);
}

.card{
  background: var(--bggradient2-reverse);
}

.cover {
  width: 100%;
  height: 55vmin;
  background: url(/img/two_clean_chicks_logo.jpg);
  background-position: -20.5rem --19rem;
  background-size: 150%;
  position: relative;
}

.cover .content {
  background: var(--bggradient2-reverse);
  width: 100%;
  height: 100%;
  padding-top: 9vmin;
}

.cover .content > h1 {
  font-family: var(--Patua);
  font-size: 6vmin;
  color: #fff;
}

.cover .content > p {
  font-family: var(--Rubik);
  font-size: 2vmin;
  color: #e5e5e5;
}

.numbers .rect {
  position: relative;
  z-index: 1;
  background: white;
  width: 17rem;
  height: 12rem;
  padding-top: 3.5vmin;
  margin: 1rem;
  border-radius: 0.5em;
  box-shadow: 1px 2px 50px 0px rgba(216, 63, 63, 0.349);
}

.numbers {
  margin-top: -15vmin;
}

.numbers .rect h2 {
  font-size: 4rem;
  color: tomato;
}

.numbers .rect p {
  font-family: var(--Patua);
}

.purchase > h1 {
  padding-top: 15vmin;
  padding-bottom: 0.1em;
  font-family: var(--Lobster);
}

.purchase > p {
  color: var(--light-black);
  font-size: 3vmin;
  padding-bottom: 10vmin;
}

.purchase .cards .card {
  width: 22rem;
  margin: 3vmin;
}

.cards div {
  border: none;
  padding: 0;
  margin: 0;
}

.cards .title {
  background: var(--bggradient);
  padding: 1.8rem 2.5rem;
  font-size: 2.4vmin;
  margin-bottom: 2em;
}

.cards .card-text {
  padding: 1.5rem 3rem;
  color: var(--light-black);
}

.card-body .pricing {
  border: none;
  background: var(--bggradient);
  border-top-right-radius: 300px;
  border-top-left-radius: 300px;
}

.card-body .pricing > h1 {
  min-height: 200px;
  font-size: 5vmin;
  padding: 1em 0.5em;
  border: none;
}

/* SECTION-3 */

/* PURCHASE */

.section-3 {
  height: inherit;
  margin-top: 15vmin;
  background: var(--bggradient2);
}

.section-3 .col-md-12 > h1 {
  padding: 2em 0em 0.5em 0em;
  color: var(--light-black);
  font-size: 6vmin;
}

.section-3 .col-md-12 > p {
  padding: 0.4em;
  padding-bottom: 2em;
  color: var(--light-black);
  font-size: 3vmin;
}

.section-3 .desktop {
  background: var(--bggradient2-reverse);
  display: inline-block;
  border-radius: 3em;
  padding: 2vmin 4.5vmin;
  margin: 1em;
}

.section-3 .desktop h3 {
  font-size: 6vmin;
}

.section-3 .desktop p {
  font-size: 4vmin;
}

/* SECTION-4 */

/* MEET THE STAFF */

.section-4 .container-fluid h1 {
  font-size: 6vmin;
  padding-top: 14vmin;
}

.section-4 .team {
  padding: 10vmin 4vmin;
}

.section-4 .card {
  background: linear-gradient(to bottom left, #3a3634, #fffedf);
  width: 100%;
  margin-top: 1vmin;
  color: black;
}

.section-4 .card .card-text {
  padding: 0.5em;
}

.section-4 .card .card-body > a {
  font-size: 1.5em;
}

.section-4 .carousel-item {
  padding: 3rem;
}

.section-4 .card .card-body a {
  align-content: center;
}

.border-radius {
  border-radius: 340px;
  width: 60%;
}

/*  FOOTER */

/* ABOUT US SECTION */

footer {
  background: rgba(0, 0, 0, 0.815);
  overflow-x: hidden;
  padding: 14vmin 18vmin;
}

footer p span a {
  text-decoration: none;
  color: #dd2476;
}

/* NEWSLETTER SECTION */

footer input {
  border: none i !important;
}

footer input::placeholder {
  color: white !important;
}

footer .input-group .input-group-text {
  background: var(--bggradient2-reverse);
  border: none !important;
}

/* FOLLOW SECTION */

footer .column i {
  color: #dd2476;
}

footer .column i + i {
  padding: 0em 0.5em;
}

.em{
  color: #dd2476;
  padding-bottom: 15vmin;
}

.call-us{
  padding-bottom: 3vmin;
}

/* BIBLE VERSE GENERATOR */

.message{
  text-align: center;
  font-family: var(--Sniglet-font);
  font-size: 5vmin;
}

.quote{
  font-size: 3.5vmin;
}

.title{
  font-family: var(--Dancing);
  color: #8d2681;
}

.verse-text{
  background: var(--bggradient2-reverse);
  font-family: var(--Sniglet-font);
}

/* Style inputs with type="text", 
  select elements and textareas */

label{
  text-align: left;
  padding-left: 0.25rem;
}

input[type=text]{
  padding:10px;
  border:0;
  box-shadow:0 0 15px 4px var(--bggradient2);
}  

input[type=text], select, textarea {
  width: 100%;  /* Full width */
  padding: 0.5rem;  /* Some padding */ 
  border: 0;
  border-bottom: 1px solid rgb(184, 164, 164);   /* Gray border */
  border-radius: 20px;   /* Rounded borders */
  box-sizing: border-box;   /* Make sure that padding and width stays in place */
  margin-top: 6px;  /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}


input[type=email]{
width: 100%;  /* Full width */
  padding: 0.5rem;  /* Some padding */ 
  border: 0;
  border-bottom: 1px solid rgb(184, 164, 164);   /* Gray border */
  border-radius: 20px;   /* Rounded borders */
  box-sizing: border-box;   /* Make sure that padding and width stays in place */
  margin-top: 6px;  /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  color: white;
  padding: 12px 20px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

select{
  color: var(--light-black);
  border: none;
  border-bottom: 1px solid rgb(184, 164, 164);
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.input{
  background: var(--bggradient2-reverse);
}

.error{
  color: red;
}


/*  media querries */
@media only screen and(min-width: 576px){
  .header .col-md-7 img{
    width: 200%;
    height: 200%;
  }

  .footer .credit{
    display: inline;
    float: none;
    text-align: center;
  }
}
